:root {
    --color1: '#013A63';
    --color2: '#2A6F97';
    --color3: '#468FAF';
    --color4: '#61A5C2';
    --color5: '#89C2D9';
    --textColorL: '#e6ebef';
    --textColorD: '#00060a';
}

.ant-btn-primary {
    background-color: var(--color1);
    border-color: var(--color1);
    color: var(--textColorL);
}

.ant-btn-secondary:hover,
.ant-btn-primary:focus {
    background-color: var(--color2);
    border-color: var(--color2);
    color: var(--textColorL);
}

.ant-btn-primary:active{
    background-color: var(--color3);
    border-color: var(--color3);
    color: var(--textColorL)
}

/* Card title background */
.ant-card-head {
    background-color: var(--color5);
    color: var(--textColorD);
}

/* Form item label color */
.ant-form-item-label > label {  /* does not seem to do anything */
    color: var(--color3);
}

/* Input field styles */
.ant-input {
    border-color: var(--color1);
}

.ant-input:focus,
.ant-input:hover {
    border-color: var(--color2);
    box-shadow: var(--color4); /* Adjust the color to match your theme */
}

/* Card container styles */
.ant-card {
    background-color: var(--color4); /* Card background color */
    border: 1px solid var(--color4); /* Card border color */
    color: var(--textColorD); /* Text color inside the card */
}

/* Card title area */
.ant-card-head {
    background-color: var(--color2); /* Title background color */
    color: var(--textColorD); /* Title text color */
}

/* Card content area */
.ant-card-body {
    color: var(--textColorD); /* Body text color */
}

