:root {
    --color1: #013A63;
    --color2: #2A6F97;
    --color3: #468FAF;
    --color4: #61A5C2;
    --color5: #89C2D9;
    --textColorL: #e6ebef;
    --textColorD: #00060a;
}

body, html {
    background-color: var(--color5);
}

/* Button Styles */
.ant-btn-primary {
    background-color: var(--color1);
    border-color: var(--color1);
    color: var(--textColorL);
}

.ant-btn-secondary:hover,
.ant-btn-primary:focus {
    background-color: var(--color2);
    border-color: var(--color2);
    color: var(--textColorL);
}

.ant-btn-primary:active {
    background-color: var(--color3);
    border-color: var(--color3);
    color: var(--textColorL);
}

.ant-btn-default {
    background-color: var(--textColorL);
    color: var(--textColorD);
}

.ant-btn-default:hover{
    background-color: var(--color4);
}

.ant-table-tbody >tr > td {
    background-color: var(--color5);
}

/* Card Styles */
.ant-card {
    background-color: var(--color5);
    border: 1px solid var(--color5);
    color: var(--textColorD);
}

.ant-card-head {
    background-color: var(--color2);
    color: var(--textColorD);
}

.ant-card-body {
    color: var(--textColorD);
}

/* Divider Styles */
.ant-divider {
    border-top: 1px solid var(--textColorL);
}

/* Input and Select Styles */
.ant-input, .ant-select-selector {
    border-color: var(--color1);
    color: var(--textColorD);
}

.ant-input:focus,
.ant-input:hover,
.ant-select-selector:focus,
.ant-select-selector:hover {
    box-shadow: var(--color1); /* Adjusted focus shadow */
}

/* Checkbox Styles */
.ant-checkbox-wrapper {
    color: var(--textColorD);
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--color2);
    border-color: var(--color1);
}

.ant-checkbox-checked:hover .ant-checkbox-inner {
    border-color: var(--color2); /* Change border on hover */
}

.ant-checkbox-inner {
    border-color: var(--color1);
}

.ant-checkbox-inner:after {
    background-color: var(--color2); /* Checked state color */
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner {
    border-color: var(--color2);
}

/* Tag Styles */
.ant-tag {
    background-color: var(--color4);
    border-color: var(--color4);
    color: var(--textColorD);
    border-radius: 10px;
}
