.delete-button {
    opacity: 0.3 !important;
    transition: opacity 0.5s ease !important;
    font-size: 122px !important;
}

.delete-button:hover {
    opacity: 1 !important;
    background-color: transparent !important;
    font-size: 155px !important;
}
